body{
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
/* navbar */
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 4%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(148, 186, 223);
    border-bottom: 5px solid rgb(49, 49, 49);
    /* border: 5px solid black; */
}
#navbar_logo{
}
#navbar_logo img{
    height: 60px;
}
#navbar_function{
    display: flex;
    justify-content: space-between;
}
.navbar_function{
    font-size: 20px;
    margin: 0px 24px;
}
.navbar_function:hover{
    color: gold;
}
#navbar_account{
    font-size: 24px;
    /* border: 3px solid yellow; */
}
#navbar_account i:hover{
    color:gold;
}
#navbar_account_content{
    position: absolute;
    min-width: 100px;
    margin-left: -86px;
    display: none; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.navbar_account_content_list{
    background-color: white;
    padding: 4px 16px;
    border: 1px solid black;
}
.navbar_account_content_list:hover{
    background-color: gray;
}
/* content_first */
#content_first{
    display: flex;
    padding: 0% 8%;
    height: 400px;
    background-color: rgb(131, 152, 173);
    /* border: 5px solid gray; */
}
#content_first_left{
    width: 60%;
    margin: auto 0px;
    color: white;
    /* border: 3px solid pink; */
}
#content_first_left div{
    /* border: 1px solid black; */
}
#content_first_left_upper{
    margin-bottom: 20px;
    font-size: 3vw;
    font-weight: bold;
}
#content_first_left_lower{
    margin-bottom: 10px;
    font-size: 1.8vw;
    color: rgb(201, 201, 201);
}
#content_first_left_lower:last-child{
    margin-top: 20px;
}
#content_first_left_button{
    padding: 6px 32px;
    background-color: rgb(148, 186, 223);
    border-radius: 20px;
    border: 1px solid black;
}
#content_first_left_button:hover{
    opacity: .5;
}
#content_first_left_button:focus{
    background-color: rgb(131, 152, 173);
}
#content_first_right{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid turquoise; */
}
#content_first_right img{
    width: 20vw;
    height: 200px;
    /* border: 1px solid gold; */
}
/**/
#content_second{
    border: 5px solid gray;
    padding: 0% 4%;
    padding-top: 60px;
    padding-bottom: 60px;
}
#content_second_title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 0 36%;
    border-bottom: 3px solid black;
}

#content_second_container{
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 40px 20px;
    background-color: rgb(92, 115, 138);
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.content_second_container_box{
    width: 17vw;
    height: 12vw;
    margin: 0px 12px;
    border: 1px solid black;
    border-radius: 10px;
}
.content_second_container_box:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.content_second_container_boxname{
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}
#content_second_container_box_first{
    background-color: white;
}
#content_second_container_box_second{
    background-color: white;
}
#content_second_container_box_third{
    background-color: white;
}
#content_second_container_box_fourth{
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.content_second_container_box_make{
    font-size: 1vw;
}
#content_second_container_box_fourth:hover{
    color: black;
}
/**/
#content_third{
    padding: 0% 4%;
    border: 5px solid gray;
    padding-top: 60px;
    padding-bottom: 60px;
}
#content_third_title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 0 36%;
    border-bottom: 3px solid gold;
}
#content_third_container{
    width: 68%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 40px 20px;
    background-color: rgb(92, 115, 138);
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.content_third_container_box{
    width: 17vw;
    height: 12vw;
    margin: 0px 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.content_third_container_box:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.content_third_container_boxname{
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}
#content_third_container_box_first{
    background-color: white;
}
#content_third_container_box_second{
    background-color: white;
}
#content_third_container_box_third{
    background-color: white;
}
/**/
#content_fourth{
    padding: 0% 4%;
    border: 5px solid gray;
    padding-top: 60px;
    padding-bottom: 60px;
}
#content_fourth_title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 0 32%;
    border-bottom: 3px solid skyblue;
}
#content_fourth_container{
    width: 68%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 40px 20px;
    background-color: rgb(92, 115, 138);
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.content_fourth_container_box{
    width: 17vw;
    height: 12vw;
    margin: 0px 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.content_fourth_container_box:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.content_fourth_container_boxname{
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}
#content_fourth_container_box_first{
    background-color: white;
}
#content_fourth_container_box_second{
    background-color: white;
}
#content_fourth_container_box_third{
    background-color: white;
}
/**/
#friend_button{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
}
#friend_button:hover{
    background-color: gold;
}
#content_friend{
    width: 200px; 
    position:fixed;
    right: 102px;
    bottom: 102px;
    border: 3px solid black;
    background-color: rgb(148, 186, 223);
    display: none;
}
#content_friend_title{
    font-size: 24px;
    text-align: center;
    margin: 20px 0px;
}
#content_friend_study{
    border: 1px solid black;
    margin-bottom: 10px;
}
#content_friend_study_name{
    margin: 4px 0px;
}
#content_friend_study_friend{
    display: flex; 
    margin-left: 12px;
}
#content_friend_study_friend_info{
    margin-left: 8px;
}
/* footer */
#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 4%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(148, 186, 223);
    border-top: 5px solid rgb(49, 49, 49);
}
#footer_logo{
    /* border: 3px solid red; */
}
#footer_logo img{
    height: 60px;
}
#footer_function{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
}
#footer_instagram{
    font-size: 24px;
    /* border: 3px solid yellow; */
}
#footer_instagram i:hover{
    color:gold;
}

@keyframes menuHello{
    0%{
        opacity: 0; 
    }
    100%{
        opacity: 1;
    }
}
@keyframes menuBye{
    0%{
        opacity: 1; 
    }
    100%{
        opacity: 0;
    }
}

/* mypage */
#mypage{
    padding: 0 8%;
    display: flex;
}
#mypage_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mypage_left_profile{
    text-align: center;
}
#mypage_left_profile_image_box{
    padding: 50px;
    border-radius: 50%;
    border: 1px solid black;
}
#mypage_left_profile_image_box img{
    width: 15vw;
    height: 15vw;
}
#mypage_left_profile_status{
    margin: 20px 0px;
    font-size: 18px;
}
#mypage_left_profile_button{
    padding: 6px 32px;
    background-color: rgb(148, 186, 223);
    border-radius: 20px;
    border: 1px solid black;
}
#mypage_left_profile_button:hover{
    opacity: .5;
}
#mypage_left_profile_button:focus{
    background-color: rgb(131, 152, 173);
}
#mypage_left_relationship{
    margin: 20px 0px;
}
#mypage_left_relationship_choice{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    font-size: 18px;
    font-weight: bold;
}
#mypage_left_relationship_choice_follower{
    border-bottom: 1px solid rgb(148, 186, 223);
}
#mypage_left_relationship_choice_following{
    border-bottom: 1px solid rgb(148, 186, 223);
}
#mypage_left_relationship_choice_follower:hover{
    color: rgb(148, 186, 223);
    cursor: pointer;
}
#mypage_left_relationship_choice_following:hover{
    color: rgb(148, 186, 223);
    cursor: pointer;
}
#mypage_left_relationship_choice_follower_list{
    display: none;
}
#mypage_left_relationship_choice_following_list{
    display: none;
}
#mypage_right{
    padding: 40px 0px;
}
#mypage_right_title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.mypage_right_container{
    display: inline-block;
    width: 17vw;
    margin: 0px 10px;
}
#mypage_right_container{
    text-align: center;
}
#mypage_right_container_box{
    display: inline-block;
    width: 17vw;
    height: 12vw;
    border-radius: 10px;
    margin: 40px 0px 10px 0px;
    border: 1px solid black;
}
#mypage_right_container_boxname{
    display: inline-block;
}
#mypage_right_container_box img{
    width: 100%;
    height: 100%;
}
#mypage_right_container_box:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*스터디 찾기*/
#study_find{
    /* padding: 0 8%; */
}
#study_find_first{
    padding: 0 8%;
    border: 5px solid red;
}
#study_find_first_container{
    display: flex;
    justify-content:center;
    border: 3px solid gold;
    border-radius: 20px;
    padding: 20px;
    width: 700px;
    margin: 50px auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#study_find_first_container select{
    border: none;
    font-size: 18px;
    margin: 0 10px;
}
#study_find_first_container input{
    border: none;
    width: 600px;
    height: 80px; 
    margin: 0 10px;
    font-size: 24px;
}
#study_find_first_container button{
    background-color: white;
    border: none;
    margin: 0 10px;
}
#study_find_first_container button:hover{
    font-size: larger;
}
#study_find_second{
    border: 5px solid orange;
    padding: 0 8%;
    padding-top: 50px;
    padding-bottom: 50px;
}
#study_find_second_button{
    border: 1px solid black;
    width: 100px;
    text-align: center;
    padding: 20px;
}
#study_find_second_button:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#study_find_second_container_big{
    display: flex;
    justify-content: center;
}
#study_find_second_container_big_tag{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px 10px;
    background-color: skyblue;
    opacity: .5;
}
#study_find_second_container_big_tag:hover{
    opacity: .8;
}
#study_find_second_container_small{
    display: flex;
    justify-content: center;
}
#study_find_second_container_small_tag{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px 10px;
    background-color: gold;
    opacity: .5;
}
#study_find_second_container_small_tag:hover{
    opacity: .8;
}
#study_find_third{
    padding: 40px 0px;
    border: 5px solid green;
}
#study_find_third_title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.study_find_third_container{
    display: inline-block;
    width: 17vw;
    margin: 0px 10px;
}
#study_find_third_container{
    text-align: center;
}
#study_find_third_container_box{
    display: inline-block;
    width: 17vw;
    height: 12vw;
    border-radius: 10px;
    margin: 40px 0px 10px 0px;
    border: 1px solid black;
}
#study_find_third_container_boxname{
    display: inline-block;
}
#study_find_third_container_box img{
    width: 100%;
    height: 100%;
}
#study_find_third_container_box:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#study_find_fourth{
    text-align: center;
    padding: 40px 0px;
    border: 5px solid purple;
}
#study_find_fourth_question, #study_find_fourth_answer{
    font-weight: 500;
}
#study_find_fourth_make_button{
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgb(190, 162, 1);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#study_find_fourth_make_button:hover{
    opacity: .7;
}